.row{
    
    margin-left : 20px;
    color:white;
  

   
} 

.row__posters{
    display:flex;
    width: 100%;
    overflow-y:hidden;
    overflow-x:scroll;
    padding : 20px;
}
.row__posters::-webkit-scrollbar {
    display: none; /* 스크롤 노출 유무 (작동엔 영향 없음) */
}

.poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
    
}

.poster:hover {
    transform: scale(1.08);

}
